fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
alembic==1.15.2
psycopg[binary]==3.2.6
python-multipart==0.0.20
pydantic-settings==2.9.1
pwdlib[argon2]==0.2.1
opencv-python==4.11.0.86
supervision==0.30.3
trackers==2.6.0
ultralytics==8.3.156
imageio-ffmpeg==0.6.0
pytest==8.3.5
httpx==0.28.1
shapely==2.1.0
open_clip_torch==3.3.0
